# JWT Secret Key (ubah ini di production!)
JWT_SECRET=noxy-voldigoard-secret-key-2024-bayu-official

# Environment
NODE_ENV=production
PORT=3000

# SerpApi Key (sudah include di code)
# SERPAPI_KEY=0be5ff098bed53fb055200fa4628d44ff9863d8788c1f98c6069b4ca1773c3b5